* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    height: 100vh;
  }
  
  /* Barre de navigation */
  header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 20px;
    z-index: 1000;
  }
  
  header h1 {
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #f0a;
  }
  
  /* Conteneur centré avec espace pour la barre */
  .conteneur {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: calc(100vh - 100px); /* moins la hauteur de la barre */
    padding-top: 100px;
    flex-wrap: wrap;
  }
  
  .carre {
    width: 400px;
    height: 400px;
    background-color: #ffecea;
    color: rgb(204, 190, 190);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  }
  
  .carre:hover {
    transform: scale(1.06); /* ~6% plus grand */
    background-color: #bbb1b0;
    color: rgb(243, 240, 240);
    border-radius: 13px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  
  
  /* Responsive */
  @media (max-width: 600px) {
    .conteneur {
      flex-direction: column;
      height: auto;
      padding: 140px 20px 40px;
    }
  
    .carre {
      width: 80%;
      height: 200px;
    }
  }
  



  .div1{
    text-decoration: none;
    color: inherit;
  }